/* ------------------------------------------------------------------------------------------------------------------ */
:root {
    --font-color-article-title-color: rgba(255, 255, 255, 0.43);
    --font-main-a-color: rgb(255, 104, 24);
}

body {
    color: #dddddd;
    background-color: #222222;
}

html,
button,
input,
select,
textarea {
    color: #dddddd;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
}

a img {
    border: none;
}

figure {
    margin: 0;
    text-align: center;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

blockquote {
    border-color: #a00;
}

a {
    color: var(--font-main-a-color);
}
a:hover {
    background-color: #343434;
}
a:visited {
    color: rgb(255, 137, 70);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #999;
}

.page-title {
    color: var(--font-color-article-title-color);
}

.site-title a {
    color: #CCC;
}

.highlight pre {
    border: 1px solid gray;
}

.highlight {
    background: 0 0;
    background-color: #262626;
}

.header nav {
    border-top: 1px dotted #AAA;
}

.section .section-header {
    color: #999;
    border-bottom: #AAA 1px dotted;
}

.recent-posts .posts .post {
    background: #2a2a2a;
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 10px 0px;
}

.recent-posts .posts .post .meta,
.post .post-header .meta,
.list .posts .post .meta {
    color: #999;
}

.post .draft-label {
    color: var(--font-main-a-color);
    background-color: #f9f2f4;
}

.post-tags .tags a {
    border: 1px solid #444444;
    color: var(--font-main-a-color);
}

.footer {
    color: #999;
    border-top: 1px dotted #AAA;
}

table th {
    background-color: #414141;
}

table th,
table td {
    border: 1px solid #777777;
}