<div style="min-width:100%; width:100%;background-color: #EEEEEE;margin-top: 20px;padding: 10px 0px;border-radius: 4px;">
    <!-- Facebook plugin comments has a bug colorscheme does not work -->
    <div id="fb-comments" class="fb-comments"
         style="min-width:100%; width:100%;"
         data-href="https://understand.tech-kitty.com/#/"
         data-width="100%"
         data-numposts="10"
         data-lazy="true"
    ></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var darkModeEnabled = false;

        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            console.log('mode-detect : ', 'dark');
            darkModeEnabled = true;
        }else{
            console.log('mode-detect : ', 'white');
            darkModeEnabled = false;
        }

        var loc = document.getElementById('fb-comments');
        loc.setAttribute('data-href', location.href);
        loc.setAttribute('data-colorscheme', darkModeEnabled ? "dark":"light");

        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;

        dsq.setAttribute('src', "https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v12.0");
        dsq.setAttribute('nonce', "YGoGPMMr");
        dsq.setAttribute('crossorigin', "anonymous");

        (document.getElementsByTagName('body')[0]).appendChild(dsq);
    });
</script>