<div class="footer wrapper">
	<nav class="nav">
		<div>{{ with .Site.Copyright }} {{ . }} {{ end }}</div>
		<div>{{ with .Site.Params.Copyright }} {{ . }} {{ end }}</div>
	</nav>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-3XQ94GTJBK"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-3XQ94GTJBK');
	</script>

	{{- $.Scratch.Set "isDisqus" true -}}

	<!-- Disable if content type is excluded in config -->
	{{- if and (isset .Params "type") (in .Site.Params.disableDisqusTypes .Params.type) -}}
	{{- $.Scratch.Set "isDisqus" false -}}
	{{- end -}}

	<!-- Check if content has flag to enable/disable disqus explicitly -->
	{{- if and (isset .Params "disqus") (eq .Params.disqus false) -}}
	{{- $.Scratch.Set "isDisqus" false -}}
	{{- else if and (isset .Params "disqus") (eq .Params.disqus true) -}}
	{{- $.Scratch.Set "isDisqus" true -}}
	{{- end -}}

	{{- if eq ($.Scratch.Get "isDisqus") true -}}
	{{- partial "disqus.html" . -}}
	{{- end -}}
</div>

{{ if not .Site.IsServer }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}
