<div class="footer wrapper">
	<nav class="nav">
		<div>{{ with .Site.Copyright }} {{ . }} {{ end }}</div>
		<div>{{ with .Site.Params.Copyright }} {{ . }} {{ end }}</div>
	</nav>
	<!-- Start of WebFreeCounter Code -->
	<a href="https://www.webfreecounter.com/" target="_blank" style="display: block;text-align: right;">
		<img src="https://www.webfreecounter.com/hit.php?id=gvpaqkc&nd=6&style=1" border="0" alt="web counter" style="
    display: inline-block;
    margin: 0;
    opacity: 0.5;
	">
	</a>
	<!-- End of WebFreeCounter Code -->
</div>

{{ if not .Site.IsServer }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}
